/* *{
    background-color: red;
} */

a:hover{
    background-color: 0.3s ease;
    background-color: rgba(250, 31, 31, 0.797);
}

.animated-button{
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    background-color: brown;
    color: white;
    cursor: pointer;
    outline: none;
    transition: transform 0.2s ease-in-out;

}

.animated-button:active{
    animation: clickAnimation 0.2s forwards;
}

@keyframes clickAnimation {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.1);
    }
    100%{
        transform: scale(1);
    }
}

.rotating-icon {
    display: inline-block;
    animation:  rotation 2s linear infinite;
}

@keyframes rotation{
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.earth-logo img{
    width: 85px;
    height: auto;
}